.home-cnt{
    width: 90%;
    max-width: 1400px;
}
.banner-cnt{
    background-color: #EAE9EF;
    border-radius: 0 0 20px 20px;
}
.banner-title{
    color: #1A4BB3;
    font-size: 32px;
}
.function-banner{
    background-color: #FFFFFF;
    width: 90%;
    height: 110px;
    border-radius: 15px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}
.banner-icon{
    font-size: 36px;
}
.function-banner-text{
    font-size: 18px;
}
.banner-btn{
    background: #1A4BB3;
    width: 250px;
    height: 50px;
    border-radius: 20px;
}

.anons-text{
    
    background-color: #FFFFFF;
    border-radius: 20px;
    height: 500px;
    
    
}
.anons-text-without-photo{
    background-color: #FFFFFF;
    border-radius: 20px;
}
.anons-image{
    object-fit: cover;
    border-radius: 15px;
    width: 100%;
    height: 500px  
}
.anons-title{
    color: #1A4BB3;
    font-size: 20px;
}
.anons-info{
    font-size: 16px;
}

.border-container-radius{
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

.image-container-radius{
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
}