.main-cnt-news-admin{
    width: 90%;
}
.btn-admin-news {
    background: #1A4BB3;
    border: none;
    border-radius: 10px;
    height: 35px;
    width: 180px;
}

.container-news{
    width: 100%;
    background: #FFFFFF;
}

.admin-card-new{
    background: #FFFFFF;
    width: 100%;
}

.btn-admin-new-edit {
    border-radius: 10px;
    height: 37px;
    width: 32%;
    background-color: #FFFFFF;
    border: 1.5px solid #1A4BB3;
    color: #1A4BB3;
    &:hover {
        background-color: #1A4BB3;
        border: 1.5px solid #1A4BB3;
        color: #FFFFFF;
    }
}

.btn-admin-new-delete {
    border-radius: 10px;
    height: 37px;
    width: 32%;
    background-color: #FFFFFF;
    border: 1.5px solid #DA3232;
    color: #DA3232;

    &:hover {
        background-color: #DA3232;
        border: 1.5px solid #DA3232;
        color: #FFFFFF;
    }
}


.btn_form_new {
    width: 150px;
    background: #1A4BB3;
    border: none;
    border-radius: 10px;
    height: 40px;
}

.new-control-input {
    background-color: #EFF4FB;
    border: 0.5px solid #5189CC;
    border-radius: 10px;
    height: 45px;
}
.btn-download-photo{
    background-color: #5189CC;
    border: 0.5px solid #5189CC;
    border-radius: 10px;
    height: 45px;
    
}
.new-description-input {
    background-color: #EFF4FB;
    border: 0.5px solid #5189CC;
    border-radius: 10px;
    height: 150px;
}
.container-phonos-links{
    height: 250px;
    background: #EFF4FB;
    border-radius: 20px;
    overflow: auto;
}

.link-photo-for-news{
    background-color: #F5F5F5;
    border-radius: 10px;
    border: 1px solid rgba(81, 137, 204, .5);
}
.photo-format{
    object-fit:cover;
    border-radius: 10px;
}
.del-photo{
    color: #FF0000;
}
.cnt-admin-name-new{
    height: 95px;
}
.admin-name-new{
    font-size: 18px;
    -webkit-line-clamp: 3;
    /* Число отображаемых строк */
    display: -webkit-box;
    /* Включаем флексбоксы */
    -webkit-box-orient: vertical;
    /* Вертикальная ориентация */
    overflow: hidden;
    /* Обрезаем все, что не помещается в область */
}
.name-count-photo{
    font-size: 18px;
}
.title-add-new{
    font-size: 20px;

}
.btn-admin-new-archive{
    border-radius: 10px;
    height: 37px;
    width: 32%;
    background-color: #FFFFFF;
    border: 1.5px solid #000000;
    color: #000000;

    &:hover {
        background-color: #EAE9EF;
        color: #000000;
        border: 1.5px solid #000000;
    }
}