.main-cnt-my-page{
    width: 90%;
}

.info_user{
    width: 50%;
    border-radius: 10px;
}
.time_registration{
    font-size: 15px;
}
.hrfor{
    width: 100%;
}
.dinamic-tests{
    width: 70%;
    border-radius: 10px;
}
.select-sort{
    width: 200px;
}