.form_registration{
    background-color: #FDFDFD;
    width: 500px;
    box-shadow: 0px 30px 60px rgba(143, 162, 202, 100);
    border-radius: 20px;
}
.control_input{
    background-color: #EFF4FB;
    border: 0;
    border-radius: 10px;
    height: 50px;}
.btn_registration{
    width: 200px;
    background: #1A4BB3;
    border: none;
    border-radius: 10px;
    opacity: .76;
    height: 40px;
    
}
.link_login{
    color: #1A4BB3;
    opacity: .7;
    text-decoration: none;
}
.btn_login{
    width: 100px;
    background: #1A4BB3;
    border: none;
    border-radius: 10px;
    opacity: .76;
    height: 40px;
    
}