.btn-new-requests {
    width: 33.3%;
    background: #BFCCEE;
    border: 0.5px solid #5189CC;
    border-radius: 10px 0px 0px 10px;
    color: black;
    height: 70px;
}

.btn-accepted-requests {
    width: 33.3%;
    background: #BFCCEE;
    border: 0.5px solid #5189CC;
    border-radius: 0px 0px 0px 0px;
    color: black;
    height: 70px;
}

.btn-rejected-requests {
    width: 33.3%;
    background: #BFCCEE;
    border: 0.5px solid #5189CC;
    border-radius: 0px 10px 10px 0px;
    color: black;
    height: 70px;
}

.cont-new-requests {
    background: #F5F5F5;
    border-radius: 20px;
    border: 3px solid rgba(81, 137, 204, .4);
}

.btn-accept-request {
    width: 150px;
    background: #1A4BB3;
    border: none;
    border-radius: 10px;
    opacity: .76;
    height: 40px;
}

.btn-reject-request {
    width: 150px;
    background: #DA3232;
    border: none;
    border-radius: 10px;
    opacity: .76;
    height: 40px;
}

.cont-accept-requests {
    background: #F5F5F5;
    border-radius: 20px;
    border: 3px solid rgba(111, 153, 101, .5);
}

.cont-reject-requests {
    background: #F5F5F5;
    border-radius: 20px;
    border: 3px solid rgba(218, 50, 50, .5);
}