.main-cnt-request-admin{
    width: 90%;
}
.btn-new-requests {
    width: 33.3%;
    background: #FFFFFF;
    border: 1px solid #1A4BB3;
    border-radius: 10px 0px 0px 10px;
    color: #1A4BB3;
    font-size: 18px;
    height: 70px;
}


.btn-accepted-requests {
    width: 33.3%;
    background: #FFFFFF;
    border: 1px solid #1A4BB3;
    border-radius: 0px 0px 0px 0px;
    color: #1A4BB3;
    font-size: 18px;
    height: 70px;
}

.btn-rejected-requests {
    width: 33.3%;
    background: #FFFFFF;
    border: 1px solid #1A4BB3;
    border-radius: 0px 10px 10px 0px;
    color: #1A4BB3;
    font-size: 18px;
    height: 70px;
}



.cont-new-requests {
    background: #FFFFFF;
    border-radius: 20px;
}

.btn-accept-request {
    width: 150px;
    background: #1A4BB3;
    border: none;
    border-radius: 10px;
    height: 40px;
}

.btn-reject-request {
    width: 150px;
    background: #DA3232;
    border: none;
    border-radius: 10px;
    height: 40px;
}

.cont-accept-requests {
    background: #FFFFFF;
    border-radius: 20px;
   
}

.cont-reject-requests {
    background: #FFFFFF;
    border-radius: 20px;
    
}