.sidebar-sh{
    box-shadow: 0px 20px 30px rgba(180, 195, 227, 100);
    border-radius: 20px;
    border: 0.5px solid rgba(180, 195, 227, .6);
    
}
.nav-pills li a:hover{
    background-color: rgba(26, 75, 179, .76);
    

}
.sid{
    position: sticky;
    top: 0;
}


